SUPABASE_URL=https://pgwvcabukadiyraushcj.supabase.co
SUPABASE_KEY=sb_publishable_QvldYmyr7j3rq6dLUtdzAw_GhTdGoKK
TARGET_SITE_URL=https://example.com/login
TARGET_SALES_URL=https://example.com/sales
TARGET_LOGIN_ID=your-login-id
TARGET_LOGIN_PW=your-login-pw
